SimpliFi/Connected Services/CCTC/CCTC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:nms:includeView" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:nms:includeView" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:nms:includeView">
      <s:complexType name="Element">
        <s:sequence>
          <s:any processContents="lax" />
        </s:sequence>
      </s:complexType>
      <s:element name="createPesonalisationBlock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessiontoken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="namePersoBlock" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="labelPersoBlock" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="newPersoBlock" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="htmlContent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createPesonalisationBlockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="createPesonalisationBlockIn">
    <wsdl:part name="parameters" element="tns:createPesonalisationBlock" />
  </wsdl:message>
  <wsdl:message name="createPesonalisationBlockOut">
    <wsdl:part name="parameters" element="tns:createPesonalisationBlockResponse" />
  </wsdl:message>
  <wsdl:portType name="includeViewMethodsSoap">
    <wsdl:operation name="createPesonalisationBlock">
      <wsdl:input message="tns:createPesonalisationBlockIn" />
      <wsdl:output message="tns:createPesonalisationBlockOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="includeViewMethodsSoap" type="tns:includeViewMethodsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createPesonalisationBlock">
      <soap:operation soapAction="nms:includeView#createPesonalisationBlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NmsIncludeView">
    <wsdl:port name="includeViewMethodsSoap" binding="tns:includeViewMethodsSoap">
      <soap:address location="https://triggercampaign-stage.corp.adobe.com/nl/jsp/soaprouter.jsp" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>